.dropdown {
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 2rem;
}

header {
        color: white;
}

.hamburger {
        display: flex;
        height: 3rem;
        width: 3rem;
}

.cross {
        display: none;
        height: 3rem;
        width: 3rem;
}

.dropdown.active .hamburger {
        display: none;
}

.dropdown.active .cross {
        display: flex;
}

.dropdown h2 {
        opacity: 1; /* Hide the BOOK NOW h2 */
        transition: opacity 0.1s ease;
}

.dropdown.active h2 {
        opacity: 0; /* Hide the BOOK NOW h2 */
}
.dropdown.active h2 {
        opacity: 0; /* Hide the BOOK NOW h2 */
}

.dropdown-content {
        /* box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); /* Shadow for dropdown */
        z-index: 1; /* Ensure it appears on top */
        flex-direction: column;
}

.dropdown-content {

        opacity: 0;
        visibility:hidden;
}

.dropdown-content.active {
        opacity: 1;
        visibility:visible;
}

.dropdown-content div {
        display: flex;
        align-items: center;
        justify-content: center;
}

.dropdown-content a {
        color: white;
}

.dropdown-content div:hover {
}

.dropdown-content div a {
        color: white; /* Black text */
        text-decoration: none; /* No underline */
}

.dropdown:nth-child(3) {
        width: 0;
}
